<form  #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-signin">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Sisteme Giriş</h1>
    </div>
  
    <div class="form-label-group">
      <input type="text" #userName="ngModel"
      [(ngModel)]="model.username" id="userName" class="form-control" placeholder="Kullanıcı Adı" name="username" required autofocus>
      <label>Kullanıcı Adı</label>
    </div>
  
    <div class="form-label-group">
      <input type="password" id="password" #password="ngModel"
      [(ngModel)]="model.password" class="form-control" placeholder="Şifre" name="password" required>
      <label>Password</label>
    </div>
  <div class="text-center">
    <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/product-add-1">Giriş Yap</button>
</div>
    
  </form>



